TURSO_DATABASE_URL=libsql://nama-database-nama-organisasi.turso.io
TURSO_AUTH_TOKEN=tempel-token-read-write-di-sini
ADMIN_USERNAME=admin
ADMIN_PASSWORD=buat-kata-sandi-kuat-di-sini
ADMIN_NAME=Administrator
ADMIN_KODE_REG=0000
PORT=3000
